<meta http-equiv="refresh" content="3600">


<check if="{{ @navs=='yes' }}">
  <include href="{{ @nav_menu }}">
</check>

<div class="table-responsive">
<table id="shorts" style="text-align: left; position:relative;">
<include href="{{ @headers }}"/>
<repeat group="{{ @details.0 }}" key="{{ @ikey }}" value="{{ @cols}}" >
	<set trcolor="white"/>
	<set ftcolor="black"/>
	<set tdcolor="white"/>
	<set urcolor="black"/>
	<set dueblink="0"/>
	<check if="{{ @field == 'all' }}">
       		<include href="{{ @fields }}"/>
	</check>
</repeat>
<input type="hidden" id="chkbox" name="chkbox">
</table>

</div>
<script>
function searchTable() {
        var input, filter, table, tr, td, i, txtValue;
        // Columns to inspect
        var columns = {{ @columns }};
        filter = document.getElementById("search").value.toUpperCase();
        table = document.getElementById("shorts");
        tr = table.getElementsByTagName("tr");
        td = [];
        for (i = 1; i < tr.length; i++) {
         for (var j of columns) {
            td[j] = tr[i].getElementsByTagName("td")[j];
            if (td[j].innerText != '') {
                if (td[j].innerText.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    break;
                } else {
                    tr[i].style.display = "none";
                }
            }
         }
        }
    }
</script>
