<meta http-equiv="refresh" content="3600">


<check if="{{ @navs=='yes' }}">
  <include href="{{ @nav_menu }}">
</check>

<div class="table-responsive">
<table id="shorts" style="text-align: left; position:relative;">
<include href="{{ @headers }}"/>
<repeat group="{{ @details.0 }}" key="{{ @ikey }}" value="{{ @cols}}" >
	<set trcolor="white"/>
	<set ftcolor="black"/>
	<set tdcolor="white"/>
	<set urcolor="black"/>
	<set dueblink="0"/>
	<check if="{{ @field == 'all' }}">
       		<include href="{{ @fields }}"/>
	</check>
</repeat>
<input type="hidden" id="chkbox" name="chkbox">
</table>

</div>

