<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="{{ @ENCODING }}" />
		<title>{{ @TITLE }}</title>
                <base href="{{ @SCHEME .'://'.@HOST.':'.@PORT.@BASE.'/' }}" />
                <!--<base href="{{ @SCHEME .'://info.diaz.works:'.@PORT.@BASE.'/' }}" />
		<link rel="stylesheet" href="lib/code.css" type="text/css" /> //-->
		<link rel="stylesheet" href="/ui/css/base.css" type="text/css" />
		<script src="/ui/js/local.js"></script>
	<check if="{{ @isMobile == 1}}"> 
	<true>
		<link rel="stylesheet" href="/ui/css/forms.css" type="text/css" /> 
	</true>
	<false>
		<link rel="stylesheet" href="/ui/css/computer.css" type="text/css" /> 
	</false>
	</check>
		<link rel="stylesheet" href="/ui/css/theme.css" type="text/css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<!--		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">//-->
		<link rel="stylesheet" href="/ui/css/bootstrap.min.css">
	</head>
	<body>
	user: {{ @SESSION.user }} {{ @SESSION.timeout }}
		<include href="{{ @content }}">
	</body>
</html>
